@media (min-width: 1200px){
  .cont-nav {
    max-width: 1500px !important;
  }
}

.nav-main {
  min-height: 50px;
  background-color: #040E27 !important;
}

.each-li {
  padding-right: 25px;
}

.nav-font {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.intro {
  color: white;
}
.subheading{
  color: white;
  /* color: #007bff; */
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.rotate-init {
  color: white;
}
.dev-name {
  text-transform: uppercase;
}
h1{
  color: white;
}
.rotate{
  color: white;
}
body {
  background-image: url("../media/doctorstrange_bg.jpg");
  background-color: #040E27;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.typewrite-font {
  color: white; 
  text-decoration: none;
}
